@use '../../styles/theme';

.donationForm {
  margin: 48px auto;
  &__form {
    max-width: 768px;
    margin: 0 auto;
    display: block;

    &--error {
      padding: 12px;
      color: theme.$primary-inverted;
      background-color: theme.$error;
    }

    &--success {
      padding: 12px;
      color: theme.$primary;
      background-color: theme.$success;
    }
  }

  &__group {
    margin: 24px 0;

    &:focus-within {
      .donationForm__label {
        background-color: theme.$background-inverted;
        color: theme.$primary-inverted;
      }
    }
  }

  &__label {
    font-size: theme.$paragraph;
    border: 1px solid theme.$background-inverted;
    border-bottom: none;
    padding: 8px 28px;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &--focus {
      background-color: theme.$background-inverted;
      color: theme.$primary-inverted;
    }
  }

  &__input {
    width: 100%;
    padding: 12px;
    font-size: theme.$header5;
    border: 1px solid theme.$background-inverted;
    background-color: theme.$neutral-300;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

    &:active,
    &:focus,
    &--focus {
      background-color: theme.$neutral-100;
      outline: none;
    }

    &-select {
      appearance: none;
      position: relative;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right 4% top 50%;
      background-size: 16px auto;
    }
  }

  &__button {
    margin-top: 24px;
    position: relative;
    padding: 12px 24px;
    font-size: theme.$header5;
    color: theme.$primary;
    background-color: theme.$background;
    border: 1px solid theme.$background-inverted;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover,
    &:active,
    &:focus {
      color: theme.$primary-inverted;
      background-color: theme.$background-inverted;
    }

    &:focus {
      outline: 1px solid theme.$background-inverted;
      outline-offset: 2px;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &::before {
      content: '';
      width: 100%;
      position: absolute;
      border-top: 1px dotted black;
      top: -24px;
      left: 0;
    }
  }
}
